.cameraView {
    height: calc(100% - 20px);
    width: auto;
    margin: 10px 5px;
    background: #11121c;
    border-radius: 3px;
}
.addCameraButtonWrap {
    height: 100%;
    width: 100%;
    display: flex;
}
.addCameraButton {
    border: 1px solid #5F78D3;
    border-radius: 6px;
    height: calc(100% - 22px);
    width: calc(100% - 22px);
    margin: auto;
}
.plusButton {
    font-size: 9em;
    color: #127fee;
}
.textButton {
    color: white;
    font-size: 1.5em;
}
.imageCamera {
    position: relative;
    height: 100%;
    width: 100%;
    top: -2em;
    border-radius: 3px;
}
.titleCamera span {
    background: #1D1F2D;
}
.titleCamera {
    color: white;
    font-size: 1em;
    background: #1D1F2D;
    height: 2em;
    width: 5em;
    margin: auto;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0.5em;
}
.wrapTitleCamera {
    width: 100%;
    position: relative;
    z-index: 1;
}
.peopleStateBar {
    position: relative;
    z-index: 1;
    top: calc(-100% - 2vw);
}
.togglePeopleState {
    color: white;
    background: #11121C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    font-family: monospace;
    margin: 5px;
}
.togglePeopleState.bigSize {
    font-size: 14px;
    height: 46px;
    width: 64px;
}
.togglePeopleState.middleSize {
    font-size: 13px;
    height: 41px;
    width: 54px;
}
.togglePeopleState.smallSize {
    font-size: 12px;
    height: 36px;
    width: 44px;
}

.peopleStateImage {
    position: absolute;
    left: 6px;
    background: rgba(29, 31, 45, 0.4);
    border-radius: 60px;
}
.peopleStateImage.bigSize {
    width: 227px;
    height: 46px;
}
.peopleStateImage.middleSize {
    width: 118px;
    height: 41px;
}
.peopleStateImage.smallSize {
    width: 115px;
    height: 36px;
}

.peopleStateIcon {
    position: absolute;
    width: 24px;
    height: 24px;
}
.peopleStateIcon.bigSize {
    left: 73px;
    top: 10px;
}
.peopleStateIcon.middleSize {
    left: 68px;
    top: 10px;
}
.peopleStateIcon.smallSize {
    left: 58px;
    top: 6px;
}

.peopleStateText {
    position: absolute;
    left: 117px;
    top: 14px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.01em;
}

.peopleStateCount {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.01em;
}
.peopleStateCount.bigSize {
    left: 228px;
    top: 14px;
}
.peopleStateCount.middleSize {
    left: 111px;
    top: 14px;
}
.peopleStateCount.smallSize {
    left: 100px;
    top: 10px;
}
