.App {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@font-face{
  font-family: 'Roboto';
  src: url('/font/Roboto-Medium.ttf');
}
div, input, span, select, option {
  font-family: Roboto;
}


@media (prefers-reduced-motion: no-preference) {}
